In [1]:
# !pip3 install langchain langchain_community

In [2]:
%load_ext autoreload
%autoreload 2

from langchain_community.llms import Ollama
import pandas as pd

In [12]:
df = pd.read_csv('data/transactions-mar-2024.csv', encoding='ISO-8859-1')
df.columns = [
    'IBAN/BBAN', 'Currency', 'BIC', 'Sequence number', 'Date', 'Interest date', 'Amount',
    'Balance after trn', 'Offset account IBAN/BBAN', 'Name of counterparty',
    'Name of final party', 'Name of initiating party',
    'BIC counterparty', 'Code', 'Batch ID', 'Transaction reference',
    'Authorization reference', 'Payee ID', 'Payment reference',
    'Description-1', 'Description-2', 'Description-3', 'Reason for return',
    'Original amount', 'Original currency', 'Rate',
]
df = df.loc[df["Amount"].str[0] == "-", ["Amount", "Name of counterparty"]]
df.head()

     Amount                 Name of counterparty
0    -16,00                        Brabant Water
1  -1060,42               BOUWINVEST RESIDENTIAL
2    -58,53  PayPal Europe S.a.r.l. et Cie S.C.A
3    -18,00      SumUp  *Kapsalon Zana EINDHOVEN
4    -14,84        Albert Heijn Strijp EINDHOVEN

In [4]:
df.columns

Index(['IBAN/BBAN', 'Currency', 'BIC', 'Sequence number', 'Date',
       'Interest date', 'Amount', 'Balance after trn',
       'Offset account IBAN/BBAN', 'Name of counterparty',
       'Name of final party', 'Name of initiating party', 'BIC counterparty',
       'Code', 'Batch ID', 'Transaction reference', 'Authorization reference',
       'Payee ID', 'Payment reference', 'Description-1', 'Description-2',
       'Description-3', 'Reason for return', 'Original amount',
       'Original currency', 'Rate'],
      dtype='object')

In [21]:
llm = Ollama(model="expense-analyzer-llama2")
responses = []
for i in range(0, len(df), 10):
    response = llm.invoke("Transaction descriptions\n" + '\n'.join(df['Name of counterparty'].tolist()[i:i+10]))
    responses.append(response)

Here are the predicted categories for each transaction:

1. Brabant Water - "Other"
2. BOUWINVEST RESIDENTIAL - "Household"
3. PayPal Europe S.a.r.l. et Cie S.C.A - "Other"
4. SumUp * Kapsalon Zana EINDHOVEN - "Groceries"
5. Albert Heijn Strijp EINDHOVEN - "Groceries"
6. Kosten - "Other"
7. AMZN MKTP NL via Amazon Payments Europe SCA - "Other"
8. CCV*Trafalgar Pub B.V. EINDHOVEN - "Entertainment"
9. TMUSIC - "Entertainment"
10. PayPal Europe S.a.r.l. et Cie S.C.A - "Other"
11. CCV*ISS CATERING SERVI DE MEERN - "Groceries"
12. FBTO - "Other"
13. PayPal Europe S.a.r.l. et Cie S.C.A - "Other"
14. CCV*ISS CATERING SERVI DE MEERN - "Groceries"
15. Butlaroo Services B.V. - "Other"
16. Albert Heijn 1876 EINDHOVEN - "Groceries"
17. Zettle_ * Around coffee Eindhoven - "Entertainment"
18. C&M*Mersan EINDHOVEN - "Other"
19. Jk Eindhoven Eindhoven - "Other"
20. De Pink Eindhoven - "Other"
21. ING Betaalverzoek via ING Bank NV Betaalverzoek - "Other"
22. CCV*ISS CATERING SERVI DE MEERN - "Groceries"
23. NYX*VendingWork Groningen - "Other"
24. Smullers Den Bosch 'S-HERTOGENBO - "Entertainment"
25. Albert Heijn 1876 EINDHOVEN - "Groceries"
26. PayPal Europe S.a.r.l. et Cie S.C.A - "Other"
27. NS GROEP IZ NS REIZIGERS - "Transportation"
28. ODIDO NETHERLANDS B.V. - "Other"
29. ENNATUURLIJK BV - "Other"
30. PayPal Europe S.a.r.l. et Cie S.C.A - "Other"
31. Vrij Op Naam B.V. - "Other"
32. ODIDO NETHERLANDS B.V. - "Other"
33. McDonalds Markt EINDHOVEN - "Entertainment"
34. VinkVink - "Other"
35. Shell Eijsden Eijsden - "Transportation"
36. Societe Karting Franco Stavelot BEL - "Other"
37. PC 2-tandartsen Gits + van Oers - "Other"